.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-header__conteiner {
  display: flex;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;

    font-size: 26px;
    line-height: 1.19;
  }
}

.site-nav {
  display: flex;
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;

  color: var(--h-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;

      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__link {
  display: flex;

  color: var(--p-text-color);
  text-decoration: none;
  fill: var(--p-text-color);

  padding-top: 0;
  padding-bottom: 0;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and not(min-width: 1200px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: inherit;

  &--mail {
    width: 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &--tel {
    width: 10px;
    height: 14px;

    @media screen and (min-width: 1200px) {
      height: 16px;
    }
  }
}
